Repository i-am-bee/beeai-framework, pull requests merged in 2025-04, with the labels that each got.

#709 docs(maintainers): Create MAINTAINERS.md
  MAINTAINERS.md
Labels: documentation, python, typescript

#714 chore: support package typing
  python/beeai_framework/py.typed
Labels: python

#724 test: fix decorator typo
  python/tests/tools/test_sandbox.py
Labels: test, python

#723 feat(backend): disable loading of external cost map in LiteLLM by default
  python/beeai_framework/adapters/litellm/chat.py
  python/beeai_framework/backend/message.py
Labels: python

#721 feat(agents): enforce tool usage in ToolCallingAgent
  python/beeai_framework/agents/tool_calling/agent.py
  python/beeai_framework/agents/tool_calling/prompts.py
  python/beeai_framework/tools/search/base.py
  python/beeai_framework/tools/search/wikipedia.py
  python/beeai_framework/tools/tool.py
  python/beeai_framework/utils/strings.py
  python/beeai_framework/workflows/agent/agent.py
  python/docs/agents.md
  python/docs/workflows.md
  python/examples/workflows/multi_agents.py
  python/examples/workflows/multi_agents_simple.py
Labels: python

#729 chore: cleanup unused emitter event
  python/beeai_framework/agents/react/__init__.py
  python/beeai_framework/agents/react/events.py
  python/beeai_framework/agents/react/runners/default/runner.py
  python/docs/events.md
Labels: python

#728 fix(agents): avoid message duplication in ToolCallingAgent
  python/beeai_framework/agents/tool_calling/agent.py
Labels: python

#705 feat: add cloneable protocol and implement clone method
  python/beeai_framework/adapters/litellm/chat.py
  python/beeai_framework/agents/experimental/remote/agent.py
  python/beeai_framework/agents/react/agent.py
  python/beeai_framework/agents/react/runners/base.py
  python/beeai_framework/agents/tool_calling/agent.py
  python/beeai_framework/backend/chat.py
  python/beeai_framework/cache/base.py
  python/beeai_framework/cache/sliding_cache.py
  python/beeai_framework/cache/unconstrained_cache.py
  python/beeai_framework/context.py
  python/beeai_framework/emitter/emitter.py
  python/beeai_framework/errors.py
  python/beeai_framework/memory/__init__.py
  python/beeai_framework/memory/base_memory.py
  python/beeai_framework/memory/errors.py
  python/beeai_framework/memory/readonly_memory.py
  python/beeai_framework/memory/serializable.py
  python/beeai_framework/memory/serializer.py
  python/beeai_framework/memory/sliding_memory.py
  python/beeai_framework/memory/summarize_memory.py
  python/beeai_framework/memory/token_memory.py
  python/beeai_framework/memory/unconstrained_memory.py
  python/beeai_framework/tools/mcp/mcp.py
  python/beeai_framework/tools/search/duckduckgo.py
  python/beeai_framework/tools/tool.py
  python/beeai_framework/utils/cancellation.py
  python/beeai_framework/utils/cloneable.py
  python/beeai_framework/utils/counter.py
  python/beeai_framework/workflows/agent/agent.py
  python/tests/utils/test_cloneable.py
Labels: python

#727 docs: Update agents.md
  python/docs/agents.md
Labels: documentation, python

#735 chore: bump acp version
  typescript/package.json
  typescript/yarn.lock
Labels: typescript

#744 test(examples): Add langgraph integration example
  python/docs/tools.md
  python/examples/integrations/langgraph_example.py
  python/examples/tools/langchain_tool.py
  python/poetry.lock
  python/pyproject.toml
Labels: python

#760 fix: typeerror when cloning chatmodel
  python/beeai_framework/adapters/litellm/chat.py
Labels: python

#768 fix(adapters): use text content for system messages to satisfy Groq
  python/beeai_framework/backend/message.py
  python/poetry.lock
Labels: python

#747 feat(tools): Add OpenAPITool
  python/beeai_framework/tools/openapi.py
  python/beeai_framework/utils/models.py
  python/examples/tools/assets/github_openapi.json
  python/examples/tools/openapi.py
  python/poetry.lock
  python/pyproject.toml
Labels: python, data-analysis:collaboration

#769 chore: update travel advisor example
  python/examples/workflows/travel_advisor.py
Labels: python

#767 Feat/765 tool calling agent update
  typescript/examples/agents/toolCalling/agent.ts
  typescript/examples/helpers/io.ts
  typescript/src/agents/toolCalling/agent.ts
  typescript/src/agents/toolCalling/prompts.ts
Labels: typescript

#775 fix: context var storage cleanup
  python/beeai_framework/context.py
Labels: python

#786 fix(backend): correctly propagate settings to LLM backends
  typescript/src/adapters/anthropic/backend/client.ts
  typescript/src/adapters/azure-openai/backend/client.ts
  typescript/src/adapters/groq/backend/client.ts
  typescript/src/adapters/watsonx/backend/client.ts
  typescript/src/backend/client.ts
Labels: typescript

#785 feat(tools): improve type hints for JSONToolOutput
  python/beeai_framework/tools/types.py
  python/docs/tools.md
  python/examples/agents/experimental/human.py
  python/examples/tools/custom/openlibrary.py
  python/examples/tools/experimental/human.py
Labels: python

#790 feat(backend): improve type hints and env loading
  python/beeai_framework/adapters/amazon_bedrock/backend/chat.py
  python/beeai_framework/adapters/anthropic/backend/chat.py
  python/beeai_framework/adapters/azure_openai/backend/chat.py
  python/beeai_framework/adapters/groq/backend/chat.py
  python/beeai_framework/adapters/litellm/chat.py
  python/beeai_framework/adapters/ollama/backend/chat.py
  python/beeai_framework/adapters/openai/backend/chat.py
  python/beeai_framework/adapters/vertexai/backend/chat.py
  python/beeai_framework/adapters/watsonx/backend/chat.py
  python/beeai_framework/adapters/xai/backend/chat.py
  python/beeai_framework/backend/chat.py
  python/beeai_framework/utils/dicts.py
  python/docs/backend.md
  python/examples/backend/providers/watsonx.py
  python/tests/backend/providers/test_azure_openai.py
  python/tests/backend/test_chatmodel.py
Labels: python

#787 feat(backend): Add EmbeddingModel
  python/beeai_framework/backend/__init__.py
  python/beeai_framework/backend/embedding.py
  python/beeai_framework/backend/errors.py
  python/beeai_framework/backend/events.py
  python/beeai_framework/backend/types.py
Labels: python

#801 feat(agents): rewrite remote agent to ACP
  typescript/examples/agents/experimental/remote.ts
  typescript/package.json
  typescript/src/agents/experimental/remote/agent.ts
  typescript/src/internals/fetcher.ts
  typescript/yarn.lock
Labels: typescript

#794 feat(agent): use new ACP-SDK in remote agent
  python/beeai_framework/agents/experimental/remote/__init__.py
  python/beeai_framework/agents/experimental/remote/agent.py
  python/beeai_framework/agents/experimental/remote/events.py
  python/beeai_framework/agents/experimental/remote/types.py
  python/docs/agents.md
  python/docs/tutorials.md
  python/examples/agents/experimental/remote.py
  python/examples/workflows/remote.py
  python/poetry.lock
  python/pyproject.toml
Labels: python
