Repository i-am-bee/beeai-framework, pull requests merged in 2025-10, with the labels that each got.

#1159 docs: fix multiagent example in readme
  README.md
Labels: documentation

#1161 fix(internals): fix serialization of sets
  python/beeai_framework/utils/strings.py
Labels: python

#1164 docs: updated references to requirement agent
  README.md
  docs/introduction/tour.mdx
  docs/modules/agents.mdx
Labels: documentation

#1150 Support more message content
  docs/modules/backend.mdx
  python/README.md
  python/beeai_framework/adapters/langchain/backend/_utils.py
  python/beeai_framework/backend/__init__.py
  python/beeai_framework/backend/message.py
  python/examples/backend/providers/watsonx.py
  python/tests/backend/test_message.py
Labels: documentation, python
