Repository i-am-bee/beeai-framework, pull requests merged in 2025-02, with the labels that each got.

#341 docs: update set up instructions
  python/CONTRIBUTING.md
Labels: python

#342 fix: debugging pass over example notebooks
  python/examples/notebooks/README.md
  python/examples/notebooks/agents.ipynb
  python/examples/notebooks/basics.ipynb
  python/examples/notebooks/requirements.txt
  python/examples/notebooks/searXNG.md
  python/examples/notebooks/workflows.ipynb
Labels: python

#343 refactor(examples): bring agent examples to ts parity
  python/README.md
  python/beeai_framework/backend/chat.py
  python/beeai_framework/backend/utils.py
  python/beeai_framework/context.py
  python/cz_commitizen/monorepo_commits.py
  python/docs/memory.md
  python/docs/tools.md
  python/examples/agents/README.md
  python/examples/agents/bee.py
  python/examples/agents/granite.py
  python/examples/agents/memory.py
  python/examples/agents/simple.py
  python/examples/backend/providers/ollama.py
  python/examples/basic.py
  python/examples/helpers/io.py
  python/examples/llms.py
  python/examples/memory/agentMemory.py
  python/examples/memory/summarizeMemory.py
  python/examples/notebooks/agents.ipynb
  python/examples/notebooks/basics.ipynb
  python/examples/notebooks/workflows.ipynb
  python/examples/tools/decorator.py
  python/examples/tools/duckduckgo.py
  python/examples/tools/openmeteo.py
  python/examples/workflows/multi_agents.py
  python/tests/backend/test_chatmodel.py
  python/tests/runners/test_default_runner.py
Labels: python

#366 docs(agents): Minor updates to notebooks (typo/instructions)
  python/examples/notebooks/README.md
  python/examples/notebooks/basics.ipynb
Labels: python

#359 feat(parsers): add line prefix parser
  python/beeai_framework/agents/bee/agent.py
  python/beeai_framework/agents/runners/default/runner.py
  python/beeai_framework/agents/runners/granite/prompts.py
  python/beeai_framework/agents/runners/granite/runner.py
  python/beeai_framework/agents/types.py
  python/beeai_framework/backend/chat.py
  python/beeai_framework/backend/message.py
  python/beeai_framework/backend/utils.py
  python/beeai_framework/parsers/field.py
  python/beeai_framework/parsers/line_prefix.py
  python/beeai_framework/utils/strings.py
  python/beeai_framework/utils/templates.py
  python/examples/backend/providers/ollama.py
  python/examples/runners/basic_runner.py
  python/poetry.lock
  python/pyproject.toml
  python/tests/parsers/line_prefix_test.py
Labels: python

#389 fix: ability to specify external Ollama server
  python/.env.example
  python/beeai_framework/adapters/ollama/backend/chat.py
  python/tests/backend/test_chatmodel.py
Labels: python

#363 feat: retryable implementation
  python/beeai_framework/agents/runners/base.py
  python/beeai_framework/agents/runners/default/prompts.py
  python/beeai_framework/agents/runners/default/runner.py
  python/beeai_framework/agents/runners/granite/prompts.py
  python/beeai_framework/agents/runners/granite/runner.py
  python/beeai_framework/agents/types.py
  python/beeai_framework/backend/chat.py
  python/beeai_framework/cancellation.py
  python/beeai_framework/errors.py
  python/beeai_framework/retryable.py
  python/examples/backend/providers/ollama.py
  python/examples/backend/providers/watsonx.py
  python/tests/test_retryable.py
Labels: python

#344 feature: add initial wikipedia search tool
  python/beeai_framework/tools/search/__init__.py
  python/beeai_framework/tools/search/wikipedia.py
  python/docs/tools.md
  python/examples/tools/wikipedia.py
  python/poetry.lock
  python/pyproject.toml
  python/tests/tools/test_wikipedia.py
Labels: python

#396 docs: updates
  README.md
  python/README.md
  python/docs/agents.md
  python/docs/memory.md
  python/docs/workflows.md
  python/examples/agents/custom_agent.py
  python/examples/memory/custom.py
  python/examples/workflows/nesting.py
Labels: documentation, python

#399 test: address failing tests
  python/beeai_framework/adapters/ollama/backend/chat.py
  python/tests/errors_test.py
  python/tests/workflows/test_multi_agents.py
Labels: bug, test, python

#380 feat(templates): add fork method for templates
  python/beeai_framework/__init__.py
  python/beeai_framework/agents/runners/base.py
  python/beeai_framework/agents/runners/default/prompts.py
  python/beeai_framework/agents/runners/granite/prompts.py
  python/beeai_framework/agents/types.py
  python/beeai_framework/backend/chat.py
  python/beeai_framework/template.py
  python/beeai_framework/utils/__init__.py
  python/beeai_framework/utils/errors.py
  python/beeai_framework/utils/templates.py
  python/beeai_framework/workflows/agent.py
  python/docs/agents.md
  python/docs/templates.md
  python/docs/workflows.md
  python/examples/notebooks/basics.ipynb
  python/examples/notebooks/workflows.ipynb
  python/examples/templates/basic_functions.py
  python/examples/templates/basic_template.py
  python/examples/workflows/multi_agents.py
  python/examples/workflows/web_agent.py
  python/tests/templates/test_templates.py
Labels: python

#417 docs(several): updates round 3
  python/README.md
  python/docs/agents.md
  python/docs/backend.md
  python/docs/cache.md
  python/docs/instrumentation.md
  python/docs/tutorials.md
  python/docs/version.md
  python/docs/workflows.md
Labels: documentation, python

#409 fix: corrections in error class
  python/beeai_framework/errors.py
  python/tests/errors_test.py
Labels: python

#410 fix: running e2e tests on remote ollama server
  python/.env.example
  python/beeai_framework/adapters/ollama/backend/chat.py
  python/beeai_framework/adapters/openai/backend/chat.py
  python/beeai_framework/adapters/watsonx/backend/chat.py
  python/poetry.lock
  python/pyproject.toml
  python/tests/backend/test_chatmodel.py
Labels: python

#420 test(examples): add e2e examples tests
  python/docs/tools.md
  python/docs/workflows.md
  python/examples/runners/basic_runner.py
  python/examples/tools/wikipedia.py
  python/examples/workflows/memory.py
  python/tests/examples/test_examples.py
Labels: test, python

#421 docs(memory): add python memory examples and docs
  python/docs/memory.md
  python/examples/memory/base.py
  python/examples/memory/custom.py
  python/examples/memory/llmMemory.py
Labels: documentation, python

#406 docs(tools): update tool docs and add missing examples
  python/docs/tools.md
  python/examples/tools/advanced.py
  python/examples/tools/agent.py
  python/examples/tools/base.py
  python/examples/tools/custom/base.py
  python/examples/tools/custom/openlibrary.py
Labels: documentation, python

#379 docs: Corrections in top-level & python notebook readmes
  README.md
  python/examples/notebooks/README.md
Labels: documentation, python

#416 feat: add runcontext and emitter to workflow
  python/beeai_framework/emitter/utils.py
  python/beeai_framework/workflows/agent.py
  python/beeai_framework/workflows/workflow.py
  python/docs/agents.md
  python/docs/workflows.md
  python/examples/workflows/emitter.py
  python/examples/workflows/multi_agents.py
  python/examples/workflows/web_agent.py
  python/tests/workflows/test_workflow.py
Labels: python

#430 fix: missed review from #397
  python/beeai_framework/agents/base.py
  python/beeai_framework/backend/chat.py
  python/beeai_framework/memory/summarize_memory.py
  python/docs/agents.md
  python/docs/memory.md
  python/examples/agents/bee.py
  python/examples/agents/granite.py
  python/examples/memory/agentMemory.py
Labels: bug, python

#429 feat: add runcontext + retryable + emitter to tool
  python/beeai_framework/agents/runners/default/runner.py
  python/beeai_framework/tools/mcp_tools.py
  python/beeai_framework/tools/search/duckduckgo.py
  python/beeai_framework/tools/search/wikipedia.py
  python/beeai_framework/tools/tool.py
  python/beeai_framework/tools/weather/openmeteo.py
  python/beeai_framework/utils/strings.py
  python/beeai_framework/workflows/workflow.py
  python/docs/tools.md
  python/examples/tools/advanced.py
  python/examples/tools/base.py
  python/examples/tools/custom/base.py
  python/examples/tools/custom/openlibrary.py
  python/examples/tools/wikipedia.py
  python/tests/tools/test_duckduckgo.py
  python/tests/tools/test_opemmeteo.py
  python/tests/tools/test_wikipedia.py
Labels: python
