Repository i-am-bee/beeai-framework, pull requests merged in 2025-03, with the labels that each got.

#448 docs(overhaul): agents, backend, emitter, logger, memory, templates, tools
  python/README.md
  python/docs/agents.md
  python/docs/backend.md
  python/docs/emitter.md
  python/docs/logger.md
  python/docs/memory.md
  python/docs/overview.md
  python/docs/templates.md
  python/docs/tools.md
  python/examples/emitter/advanced.py
  python/examples/emitter/agentMatchers.py
  python/examples/emitter/base.py
  python/examples/emitter/matchers.py
  python/examples/emitter/piping.py
Labels: documentation, python

#452 fix: async _run
  python/beeai_framework/tools/search/duckduckgo.py
  python/beeai_framework/tools/search/wikipedia.py
  python/beeai_framework/tools/tool.py
  python/beeai_framework/tools/weather/openmeteo.py
  python/docs/tools.md
  python/examples/tools/custom/base.py
  python/examples/tools/custom/openlibrary.py
Labels: python

#458 fix: chatmodel params None
  python/beeai_framework/adapters/litellm/chat.py
  python/beeai_framework/backend/chat.py
Labels: python

#438 fix(examples): better error handling and other fixes
  python/beeai_framework/agents/runners/base.py
  python/beeai_framework/tools/weather/openmeteo.py
  python/beeai_framework/utils/custom_logger.py
  python/beeai_framework/workflows/agent.py
  python/docs/agents.md
  python/docs/backend.md
  python/docs/memory.md
  python/docs/tools.md
  python/docs/workflows.md
  python/examples/agents/bee.py
  python/examples/agents/granite.py
  python/examples/agents/simple.py
  python/examples/backend/providers/ollama.py
  python/examples/backend/providers/openai_example.py
  python/examples/backend/providers/watsonx.py
  python/examples/basic.py
  python/examples/llms.py
  python/examples/memory/agentMemory.py
  python/examples/memory/base.py
  python/examples/memory/llmMemory.py
  python/examples/memory/slidingMemory.py
  python/examples/memory/summarizeMemory.py
  python/examples/memory/tokenMemory.py
  python/examples/memory/unconstrainedMemory.py
  python/examples/tools/advanced.py
  python/examples/tools/base.py
  python/examples/tools/custom/base.py
  python/examples/tools/custom/openlibrary.py
  python/examples/tools/decorator.py
  python/examples/tools/duckduckgo.py
  python/examples/tools/openmeteo.py
  python/examples/tools/wikipedia.py
  python/examples/workflows/advanced.py
  python/examples/workflows/emitter.py
  python/examples/workflows/memory.py
  python/examples/workflows/multi_agents.py
  python/examples/workflows/simple.py
  python/examples/workflows/web_agent.py
  python/tests/backend/test_chatmodel.py
  python/tests/examples/test_examples.py
  python/tests/workflows/test_multi_agents.py
Labels: bug, python

#459 fix: disregard unset params
  python/beeai_framework/adapters/litellm/chat.py
  python/tests/backend/test_chatmodel.py
Labels: python

#456 fix(agents): handle native tool calling and retries
  python/beeai_framework/adapters/litellm/chat.py
  python/beeai_framework/agents/runners/base.py
  python/beeai_framework/agents/runners/default/prompts.py
  python/beeai_framework/agents/runners/default/runner.py
  python/beeai_framework/agents/runners/granite/prompts.py
  python/beeai_framework/agents/runners/granite/runner.py
  python/beeai_framework/agents/types.py
  python/beeai_framework/backend/chat.py
  python/beeai_framework/context.py
  python/beeai_framework/tools/errors.py
  python/beeai_framework/tools/tool.py
  python/beeai_framework/tools/weather/openmeteo.py
  python/docs/agents.md
  python/docs/templates.md
  python/examples/README.md
  python/examples/templates/agent_sys_prompt.py
  python/poetry.lock
  python/pyproject.toml
Labels: python

#450 feat(adapters): Add Groq backend support
  python/.env.example
  python/beeai_framework/adapters/groq/__init__.py
  python/beeai_framework/adapters/groq/backend/__init__.py
  python/beeai_framework/adapters/groq/backend/chat.py
  python/beeai_framework/backend/constants.py
  python/docs/backend.md
  python/examples/backend/providers/groq.py
  python/tests/backend/test_chatmodel.py
  python/tests/examples/test_examples.py
Labels: python

#446 feat(adapters): Add xAI backend (#445)
  python/.env.example
  python/beeai_framework/adapters/xai/__init__.py
  python/beeai_framework/adapters/xai/backend/__init__.py
  python/beeai_framework/adapters/xai/backend/chat.py
  python/beeai_framework/backend/constants.py
  python/docs/backend.md
  python/examples/backend/providers/xai.py
  python/tests/backend/test_chatmodel.py
  python/tests/examples/test_examples.py
Labels: enhancement, python

#464 fix: index workflow with step definitions - typescript
  typescript/src/workflows/workflow.test.ts
  typescript/src/workflows/workflow.ts
Labels: typescript

#463 fix: index workflow with step definitions
  python/beeai_framework/workflows/workflow.py
  python/tests/workflows/test_workflow_nav.py
Labels: python

#467 chore: update release script
  python/pyproject.toml
Labels: python

#440 refactor(agents): remove Bee branding from BaseAgent
  python/README.md
  python/beeai_framework/agents/base.py
  python/beeai_framework/agents/bee/agent.py
  python/beeai_framework/agents/types.py
  python/beeai_framework/workflows/agent.py
  python/docs/agents.md
  python/docs/memory.md
  python/docs/tools.md
  python/docs/workflows.md
  python/examples/agents/bee.py
  python/examples/agents/granite.py
  python/examples/memory/agentMemory.py
  python/examples/tools/decorator.py
  python/examples/workflows/multi_agents.py
  python/tests/runners/test_default_runner.py
Labels: python

#470 feat(agents): handle message formatting
  python/beeai_framework/agents/bee/agent.py
  python/beeai_framework/agents/runners/default/prompts.py
  python/beeai_framework/agents/runners/default/runner.py
  python/beeai_framework/agents/runners/granite/prompts.py
  python/beeai_framework/backend/message.py
  python/beeai_framework/template.py
  python/tests/templates/test_templates.py
  python/tests/workflows/test_multi_agents.py
Labels: python

#462 feat(examples): Add custom_agent and bee_advanced examples
  python/beeai_framework/agents/types.py
  python/beeai_framework/template.py
  python/docs/agents.md
  python/examples/agents/bee_advanced.py
  python/examples/agents/custom_agent.py
Labels: python

#476 fix(agents): improve PromptTemplate.render API
  python/beeai_framework/agents/runners/base.py
  python/beeai_framework/agents/types.py
  python/beeai_framework/template.py
Labels: python

#431 refactor: update user-facing event data to all be dict and add docs
  python/beeai_framework/agents/runners/default/runner.py
  python/beeai_framework/backend/chat.py
  python/docs/events.md
  python/examples/backend/providers/groq.py
  python/examples/backend/providers/ollama.py
  python/examples/backend/providers/openai_example.py
  python/examples/backend/providers/xai.py
Labels: documentation, python

#477 fix(examples): update new examples to match latest updates to main
  python/docs/agents.md
  python/examples/agents/bee_advanced.py
  python/examples/agents/custom_agent.py
Labels: python

#479 fix: make `createHash` work in Electron.
  typescript/src/internals/helpers/hash.ts
Labels: typescript

#461 fix: emitter required for tools
  python/beeai_framework/tools/mcp_tools.py
  python/beeai_framework/tools/search/base.py
  python/beeai_framework/tools/search/duckduckgo.py
  python/beeai_framework/tools/search/wikipedia.py
  python/beeai_framework/tools/tool.py
  python/beeai_framework/tools/weather/openmeteo.py
  python/docs/tools.md
  python/examples/notebooks/agents.ipynb
  python/examples/tools/custom/base.py
  python/examples/tools/custom/openlibrary.py
  python/tests/tools/test_decorator.py
  python/tests/tools/test_emitter.py
Labels: python

#486 fix(backend): correctly merge inference parameters
  python/beeai_framework/adapters/litellm/chat.py
Labels: python

#393 docs: Update documentation for errors (python)
  python/docs/errors.md
Labels: documentation, python

#492 test(examples): fix emitters/base.py example breaking e2e tests
  python/docs/emitter.md
  python/examples/emitter/base.py
Labels: bug, test, python

#490 feat(examples): adds error examples and updates error docs
  python/docs/errors.md
  python/examples/errors/base.py
  python/examples/errors/cast.py
  python/examples/errors/tool.py
Labels: documentation, python

#475 fix(backend): tool calling, unify message content
  python/beeai_framework/adapters/litellm/chat.py
  python/beeai_framework/adapters/watsonx/backend/chat.py
  python/beeai_framework/agents/bee/agent.py
  python/beeai_framework/agents/runners/default/runner.py
  python/beeai_framework/agents/runners/granite/prompts.py
  python/beeai_framework/agents/runners/granite/runner.py
  python/beeai_framework/backend/chat.py
  python/beeai_framework/backend/message.py
  python/beeai_framework/memory/summarize_memory.py
  python/beeai_framework/tools/search/base.py
  python/beeai_framework/utils/models.py
  python/docs/memory.md
  python/examples/memory/llmMemory.py
  python/examples/memory/slidingMemory.py
  python/examples/memory/summarizeMemory.py
  python/examples/memory/tokenMemory.py
  python/examples/memory/unconstrainedMemory.py
  python/poetry.lock
  python/pyproject.toml
  python/tests/backend/test_chatmodel.py
  python/tests/backend/test_message.py
Labels: python

#497 style(examples): changes memory examples to snake case and updates docs
  python/docs/agents.md
  python/docs/memory.md
  python/examples/README.md
  python/examples/memory/agent_memory.py
  python/examples/memory/llm_memory.py
  python/examples/memory/sliding_memory.py
  python/examples/memory/summarize_memory.py
  python/examples/memory/token_memory.py
  python/examples/memory/unconstrained_memory.py
Labels: documentation, python

#474 feat: langchain tool
  python/beeai_framework/adapters/langchain/__init__.py
  python/beeai_framework/adapters/langchain/tools.py
  python/beeai_framework/tools/mcp_tools.py
  python/beeai_framework/tools/search/duckduckgo.py
  python/beeai_framework/tools/search/wikipedia.py
  python/beeai_framework/tools/tool.py
  python/beeai_framework/tools/weather/openmeteo.py
  python/docs/tools.md
  python/examples/notebooks/agents.ipynb
  python/examples/tools/custom/base.py
  python/examples/tools/custom/openlibrary.py
  python/examples/tools/langchain.py
  python/poetry.lock
  python/pyproject.toml
  python/tests/tools/test_mcp_tool.py
Labels: python

#496 fix(backend): correctly merge inference parameters
  python/beeai_framework/adapters/litellm/chat.py
  python/beeai_framework/adapters/watsonx/backend/chat.py
  python/beeai_framework/backend/chat.py
  python/beeai_framework/utils/dicts.py
  python/beeai_framework/utils/lists.py
  python/docs/backend.md
  python/examples/backend/providers/watsonx.py
Labels: python

#485 Update README.md - correcting python contribution guidelines link
  README.md
Labels: documentation

#498 test(examples): Add missing backend examples
  python/beeai_framework/backend/chat.py
  python/beeai_framework/backend/message.py
  python/docs/backend.md
  python/examples/backend/chat.py
  python/examples/backend/chat_stream.py
  python/examples/backend/structured.py
  python/examples/backend/tool_calling.py
Labels: test, python

#481 feat(tools): add MCP tool
  python/beeai_framework/tools/__init__.py
  python/beeai_framework/tools/mcp_tools.py
  python/beeai_framework/tools/tool.py
  python/beeai_framework/utils/models.py
  python/examples/tools/mcp_agent.py
  python/examples/tools/mcp_tool_creation.py
  python/tests/tools/test_mcp_tool.py
Labels: python

#469 feat(adapters): Add Google VertexAI support
  python/.env.example
  python/beeai_framework/adapters/vertexai/__init__.py
  python/beeai_framework/adapters/vertexai/backend/__init__.py
  python/beeai_framework/adapters/vertexai/backend/chat.py
  python/beeai_framework/backend/constants.py
  python/docs/backend.md
  python/examples/backend/providers/vertexai.py
  python/tests/backend/test_chatmodel.py
  python/tests/examples/test_examples.py
Labels: python

#494 feat(examples): adds logger examples and updates docs
  python/beeai_framework/utils/custom_logger.py
  python/docs/logger.md
  python/examples/logger/agent.py
  python/examples/logger/base.py
Labels: python

#499 fix: improve decorated tool output
  python/beeai_framework/adapters/langchain/tools.py
  python/beeai_framework/context.py
  python/beeai_framework/tools/mcp_tools.py
  python/beeai_framework/tools/search/duckduckgo.py
  python/beeai_framework/tools/search/wikipedia.py
  python/beeai_framework/tools/tool.py
  python/beeai_framework/tools/weather/openmeteo.py
  python/docs/tools.md
  python/examples/notebooks/agents.ipynb
  python/examples/notebooks/workflows.ipynb
  python/examples/tools/custom/base.py
  python/examples/tools/custom/openlibrary.py
  python/tests/tools/test_decorator.py
  python/tests/tools/test_emitter.py
Labels: python

#466 feat(adapters): Add Amazon Bedrock support
  python/.env.example
  python/beeai_framework/adapters/amazon_bedrock/__init__.py
  python/beeai_framework/adapters/amazon_bedrock/backend/README.md
  python/beeai_framework/adapters/amazon_bedrock/backend/__init__.py
  python/beeai_framework/adapters/amazon_bedrock/backend/chat.py
  python/beeai_framework/backend/constants.py
  python/docs/backend.md
  python/examples/backend/providers/amazon_bedrock.py
  python/poetry.lock
  python/pyproject.toml
  python/tests/backend/test_chatmodel.py
  python/tests/examples/test_examples.py
Labels: python

#500 fix: ensure cjs compatibility
  typescript/examples/vitest.examples.config.ts
  typescript/package.json
  typescript/src/adapters/vercel/backend/chat.ts
  typescript/src/serializer/serializer.ts
  typescript/src/tools/search/duckDuckGoSearch.ts
  typescript/tsup.config.ts
  typescript/vitest.config.ts
  typescript/yarn.lock
Labels: typescript

#507 434: Static Type Checker Mypy added to CI & as a poe task in pyproject.toml
  .github/workflows/py_main.yml
  python/CONTRIBUTING.md
  python/examples/__init__.py
  python/pyproject.toml
Labels: python

#518 fix: improve workflow add_agent arguments
  python/README.md
  python/beeai_framework/workflows/agent.py
  python/docs/agents.md
  python/docs/workflows.md
  python/examples/workflows/multi_agents.py
  python/examples/workflows/multi_agents_simple.py
  python/tests/workflows/test_multi_agents.py
Labels: python

#517 refactor(agents): Add generics to BaseAgent and other mypy fixes
  python/beeai_framework/agents/base.py
  python/beeai_framework/agents/react/agent.py
  python/beeai_framework/agents/react/runners/base.py
  python/beeai_framework/agents/react/runners/default/runner.py
  python/beeai_framework/agents/react/runners/granite/runner.py
  python/beeai_framework/agents/react/types.py
  python/docs/agents.md
  python/examples/agents/custom_agent.py
  python/tests/runners/test_default_runner.py
Labels: python

#516 feat: Add Run.on API to directly add an event callback
  python/beeai_framework/context.py
  python/examples/agents/granite.py
  python/examples/agents/react.py
  python/examples/agents/simple.py
Labels: enhancement, python

#538 docs(examples): unifies example doc links to point to example dirs
  python/docs/agents.md
  python/docs/cache.md
  python/docs/emitter.md
  python/docs/errors.md
  python/docs/logger.md
  python/docs/memory.md
  python/docs/serialization.md
  python/docs/templates.md
  python/docs/tools.md
  python/docs/workflows.md
Labels: documentation, feedback wanted, python

#537 fix: handle colon symbols in model id
  typescript/examples/backend/chatFromName.ts
  typescript/src/backend/utils.ts
Labels: typescript

#534 docs(several): py errors events and ts links fix
  python/README.md
  python/docs/errors.md
  python/docs/events.md
  typescript/docs/agents.md
  typescript/docs/backend.md
  typescript/docs/cache.md
  typescript/docs/emitter.md
  typescript/docs/errors.md
  typescript/docs/integrations.md
  typescript/docs/logger.md
  typescript/docs/memory.md
  typescript/docs/migration_guide.md
  typescript/docs/sql-tool.md
  typescript/docs/templates.md
  typescript/docs/tools.md
  typescript/docs/version.md
  typescript/docs/workflows.md
Labels: documentation, python, typescript

#540 docs(README.md): resolve link issues
  README.md
  python/docs/cache.md
  python/docs/instrumentation.md
  python/docs/integrations.md
  python/docs/searxng-tool.md
  python/docs/serialization.md
  python/docs/sql-tool.md
  python/docs/version.md
Labels: documentation, python, typescript

#542 docs: Add link checker
  .github/workflows/docs.yml
Labels: python, typescript

#544 Fix some broken links
  README.md
  python/README.md
  python/docs/agents.md
  python/docs/backend.md
  python/docs/emitter.md
  python/docs/errors.md
  python/docs/logger.md
  python/docs/sql-tool.md
  python/docs/templates.md
  python/examples/README.md
Labels: python, typescript

#535 test(examples): Add missing examples
  python/docs/backend.md
  python/examples/agents/experimental/human.py
  python/examples/backend/providers/watsonx.py
  python/examples/tools/experimental/human.py
Labels: test, python

#559 fix: typesVersions setting in package.json
  typescript/package.json
Labels: typescript

#524 feat(agents): add remote agent
  typescript/examples/agents/experimental/remote.ts
  typescript/package.json
  typescript/src/agents/experimental/remote/agent.ts
  typescript/tests/examples/examples.test.ts
  typescript/yarn.lock
Labels: typescript

#514 feat(adapters): Add Azure OpenAI support
  python/.env.example
  python/beeai_framework/adapters/azure_openai/__init__.py
  python/beeai_framework/adapters/azure_openai/backend/__init__.py
  python/beeai_framework/adapters/azure_openai/backend/chat.py
  python/beeai_framework/backend/constants.py
  python/docs/backend.md
  python/examples/backend/providers/azure_openai.py
  python/tests/backend/providers/test_azure_openai.py
  python/tests/backend/test_chatmodel.py
  python/tests/examples/test_examples.py
Labels: python

#555 docs: add mcp tutorial
  python/docs/tutorials.md
Labels: python

#560 docs: Update broken anchor refs
  README.md
  python/CONTRIBUTING.md
  python/docs/backend.md
  python/docs/serialization.md
  python/docs/templates.md
  python/examples/README.md
  typescript/CONTRIBUTING.md
  typescript/README.md
Labels: documentation, python, typescript

#568 chore: Link checker to fail if bad links found
  .github/workflows/docs.yml
Labels: python, typescript

#562 feat(agents): rework base agent run and runcontext
  python/beeai_framework/agents/base.py
  python/beeai_framework/agents/react/agent.py
  python/beeai_framework/agents/react/types.py
  python/beeai_framework/agents/types.py
  python/beeai_framework/backend/chat.py
  python/beeai_framework/context.py
  python/beeai_framework/tools/tool.py
  python/beeai_framework/workflows/workflow.py
  python/docs/agents.md
  python/examples/agents/custom_agent.py
  python/examples/workflows/emitter.py
Labels: python

#551 feat(agents): add tool calling agent
  python/beeai_framework/adapters/litellm/chat.py
  python/beeai_framework/agents/tool_calling/__init__.py
  python/beeai_framework/agents/tool_calling/agent.py
  python/beeai_framework/agents/tool_calling/events.py
  python/beeai_framework/agents/tool_calling/prompts.py
  python/beeai_framework/agents/tool_calling/types.py
  python/beeai_framework/backend/message.py
  python/beeai_framework/backend/types.py
  python/examples/agents/tool_calling.py
Labels: python

#570 fix: mcp tool error
  python/beeai_framework/tools/mcp_tools.py
  python/beeai_framework/utils/models.py
  python/tests/utils/test_json_schema.py
Labels: python

#582 docs: fix typo
  python/examples/README.md
Labels: python

#561 docs(examples): adds on and observe examples for llm create
  python/examples/observability/simple_observe.py
  python/examples/observability/simple_on.py
Labels: documentation, python

#567 feat(agents): add remote agent for Beeai
  python/beeai_framework/agents/experimental/remote/agent.py
  python/beeai_framework/agents/experimental/remote/types.py
  python/examples/agents/experimental/remote.py
  python/poetry.lock
  python/pyproject.toml
  python/tests/examples/test_examples.py
Labels: python

#533 feat(adapters): Support additional headers for OpenAI backend
  python/beeai_framework/adapters/litellm/chat.py
  python/beeai_framework/adapters/litellm/utils.py
  python/beeai_framework/adapters/openai/backend/chat.py
  python/docs/backend.md
  python/tests/backend/providers/test_litellm_utils.py
Labels: python

#554 feat: structured agent input
  python/README.md
  python/beeai_framework/agents/tool_calling/agent.py
  python/beeai_framework/agents/tool_calling/prompts.py
  python/beeai_framework/agents/tool_calling/types.py
  python/beeai_framework/tools/weather/openmeteo.py
  python/beeai_framework/utils/lists.py
  python/beeai_framework/workflows/agent.py
  python/beeai_framework/workflows/events.py
  python/beeai_framework/workflows/workflow.py
  python/docs/agents.md
  python/docs/workflows.md
  python/examples/workflows/multi_agents.py
  python/examples/workflows/multi_agents_simple.py
  python/examples/workflows/travel_advisor.py
  python/tests/workflows/test_multi_agents.py
Labels: python

#587 refactor: rename Bee agent to ReAct agent
  typescript/docs/agents.md
  typescript/docs/emitter.md
  typescript/docs/errors.md
  typescript/docs/integrations.md
  typescript/docs/logger.md
  typescript/docs/memory.md
  typescript/docs/templates.md
  typescript/docs/tools.md
  typescript/docs/tutorials.md
  typescript/docs/workflows.md
  typescript/examples/README.md
  typescript/examples/agents/elasticsearch.ts
  typescript/examples/agents/experimental/human.ts
  typescript/examples/agents/granite/granite_react.ts
  typescript/examples/agents/granite/granite_wiki_react.ts
  typescript/examples/agents/react.ts
  typescript/examples/agents/react_advanced.ts
  typescript/examples/agents/react_instrumentation.ts
  typescript/examples/agents/react_reusable.ts
  typescript/examples/agents/simple.ts
  typescript/examples/agents/sql.ts
  typescript/examples/emitter/agentMatchers.ts
  typescript/examples/integrations/langgraph.ts
  typescript/examples/logger/agent.ts
  typescript/examples/memory/agentMemory.ts
  typescript/examples/tools/agent.ts
  typescript/examples/tools/mcp.ts
  typescript/examples/tools/openapi.ts
  typescript/examples/workflows/agent.ts
  typescript/examples/workflows/contentCreator.ts
  typescript/src/agents/bee/types.ts
  typescript/src/agents/react/agent.ts
  typescript/src/agents/react/prompts.ts
  typescript/src/agents/react/runners/base.ts
  typescript/src/agents/react/runners/deep-think/prompts.ts
  typescript/src/agents/react/runners/deep-think/runner.ts
  typescript/src/agents/react/runners/default/runner.spec.ts
  typescript/src/agents/react/runners/default/runner.ts
  typescript/src/agents/react/runners/granite/prompts.ts
  typescript/src/agents/react/runners/granite/runner.ts
  typescript/src/agents/react/types.ts
  typescript/src/instrumentation/create-telemetry-middleware.ts
  typescript/src/workflows/agent.ts
  typescript/tests/e2e/agents/react.test.ts
Labels: typescript

#589 fix(tools): avoid session management in mcp tool
  python/beeai_framework/tools/mcp_tools.py
  python/docs/tools.md
  python/examples/tools/mcp_agent.py
  python/examples/tools/mcp_tool_creation.py
  python/tests/tools/test_mcp_tool.py
Labels: python

#590 docs: update/fix example model reference to match instructions
  README.md
Labels: python

#578 test(examples): Update experimental HumanTool example
  python/examples/agents/experimental/human.py
  python/examples/tools/experimental/human.py
Labels: test, exploration, python

#579 ci: add python e2e test workflow
  .github/workflows/py_e2e_tests.yml
  python/CONTRIBUTING.md
  python/pyproject.toml
  python/tests/backend/providers/test_azure_openai.py
Labels: python

#575 chore(internal): Support context dictionary in FrameworkError
  python/beeai_framework/agents/errors.py
  python/beeai_framework/backend/errors.py
  python/beeai_framework/emitter/errors.py
  python/beeai_framework/errors.py
  python/beeai_framework/logger.py
  python/beeai_framework/memory/errors.py
  python/beeai_framework/template.py
  python/beeai_framework/tools/errors.py
  python/beeai_framework/utils/errors.py
  python/beeai_framework/workflows/errors.py
  python/docs/errors.md
  python/examples/errors/base.py
  python/tests/errors_test.py
Labels: python

#598 fix(backend): do not use OpenAI strict response format for Ollama
  python/beeai_framework/adapters/litellm/chat.py
  python/beeai_framework/adapters/ollama/backend/chat.py
  python/poetry.lock
Labels: python

#605 feat(instrumentation): export modules for instrumentation
  typescript/src/index.ts
Labels: typescript

#606 fix(tools): update events definition to pass Pydantic validation
  python/beeai_framework/tools/events.py
  python/beeai_framework/tools/tool.py
Labels: python

#608 fix(emitter): propagate errors from user callbacks
  python/beeai_framework/agents/react/runners/default/runner.py
  python/beeai_framework/emitter/emitter.py
  python/beeai_framework/errors.py
  python/beeai_framework/tools/errors.py
Labels: python

#594 Align backend environment variable usage with typescript (>> LiteLLM)
  python/.env.example
  python/beeai_framework/adapters/amazon_bedrock/backend/README.md
  python/beeai_framework/adapters/amazon_bedrock/backend/chat.py
  python/beeai_framework/adapters/openai/backend/chat.py
  python/beeai_framework/adapters/vertexai/backend/chat.py
  python/beeai_framework/adapters/watsonx/backend/chat.py
  python/docs/backend.md
  python/examples/llms.py
  python/tests/backend/test_chatmodel.py
  python/tests/examples/test_examples.py
Labels: python

#613 fix(adapters): actually return usage in ChatModelOutput
  python/beeai_framework/adapters/litellm/chat.py
Labels: python

#601 chore: improve error output with context
  python/beeai_framework/backend/chat.py
  python/beeai_framework/backend/errors.py
  python/beeai_framework/emitter/emitter.py
  python/beeai_framework/emitter/errors.py
  python/beeai_framework/errors.py
  python/beeai_framework/tools/errors.py
  python/beeai_framework/tools/tool.py
  python/beeai_framework/workflows/workflow.py
Labels: python

#620 feat(tools): improve OpenMeteo input schema
  python/beeai_framework/errors.py
  python/beeai_framework/tools/weather/openmeteo.py
  python/docs/tools.md
  python/examples/tools/advanced.py
  python/examples/tools/base.py
  python/tests/tools/test_opemmeteo.py
Labels: python

#621 chore: remove unused code
  python/beeai_framework/__init__.py
  python/beeai_framework/template.py
Labels: python

#602 feat: cache implemenation & test
  python/beeai_framework/cache/__init__.py
  python/beeai_framework/cache/base.py
  python/beeai_framework/cache/null_cache.py
  python/beeai_framework/cache/sliding_cache.py
  python/beeai_framework/cache/unconstrained_cache.py
  python/beeai_framework/memory/__init__.py
  python/beeai_framework/memory/base_cache.py
  python/beeai_framework/memory/file_cache.py
  python/beeai_framework/memory/sliding_cache.py
  python/beeai_framework/memory/unconstrained_cache.py
  python/docs/cache.md
  python/examples/cache/custom.py
  python/examples/cache/sliding_cache.py
  python/examples/cache/unconstrained_cache.py
  python/examples/cache/unconstrained_cache_function.py
  python/poetry.lock
  python/pyproject.toml
  python/tests/cache/test_null_cache.py
  python/tests/cache/test_sliding_cache.py
  python/tests/cache/test_unconstrained_cache.py
Labels: python

#623 feat(backend): simplify chat model configuration
  python/beeai_framework/backend/chat.py
  python/beeai_framework/backend/types.py
Labels: python

#617 feat(workflows): refactor multiAgent workflow
  typescript/docs/workflows.md
  typescript/examples/workflows/multiAgents.ts
  typescript/src/agents/toolCalling/prompts.ts
  typescript/src/workflows/agent.ts
Labels: typescript

#631 docs(examples): updates backend chat example to show llm param editing
  python/docs/backend.md
  python/examples/backend/chat.py
Labels: documentation, python

#642 feat(instrumentation): remove instrumentation module and switch to openinference (#628)
  python/docs/instrumentation.md
  typescript/.env.template
  typescript/README.md
  typescript/docs/instrumentation.md
  typescript/docs/overview.md
  typescript/examples/agents/react_instrumentation.ts
  typescript/examples/helpers/telemetry.js
  typescript/examples/tools/instrumentation.ts
  typescript/package.json
  typescript/src/agents/base.ts
  typescript/src/backend/chat.ts
  typescript/src/instrumentation/config.ts
  typescript/src/instrumentation/create-telemetry-middleware.ts
  typescript/src/instrumentation/helpers/create-span.ts
  typescript/src/instrumentation/helpers/get-error-safe.ts
  typescript/src/instrumentation/helpers/get-serialized-object-safe.ts
  typescript/src/instrumentation/helpers/id-name-manager.test.ts
  typescript/src/instrumentation/helpers/id-name-manager.ts
  typescript/src/instrumentation/helpers/trace-serializer.test.ts
  typescript/src/instrumentation/helpers/trace-serializer.ts
  typescript/src/instrumentation/helpers/utils.ts
  typescript/src/instrumentation/logger.ts
  typescript/src/instrumentation/tracer.ts
  typescript/src/instrumentation/types.ts
  typescript/src/tools/base.ts
  typescript/yarn.lock
Labels: typescript

#644 fix(backend): handle empty tool calls for vLLM
  python/beeai_framework/adapters/litellm/chat.py
Labels: python

#638 test(examples): Update ConsoleReader to handle EOF and SIGINT
  python/examples/helpers/io.py
Labels: bug, test, python

#637 docs(emitter): add links to events doc
  python/docs/_sidebar.md
  python/docs/agents.md
  python/docs/backend.md
  python/docs/emitter.md
  python/docs/workflows.md
Labels: documentation, python

#650 docs(examples): update travel_advisor
  python/examples/workflows/travel_advisor.py
Labels: python

#660 docs(workflows): remove experimental tag
  python/docs/workflows.md
Labels: documentation, python

#583 Add code interpreter
  python/beeai_framework/tools/code/__init__.py
  python/beeai_framework/tools/code/output.py
  python/beeai_framework/tools/code/python.py
  python/beeai_framework/tools/code/storage.py
  python/examples/agents/react.py
  python/examples/tools/python_tool.py
  python/tests/examples/test_examples.py
  python/tests/tools/test_python.py
Labels: python

#636 docs: beeai platform integration docs
  python/README.md
  python/docs/beeai.md
  python/docs/integrations.md
  python/examples/workflows/remote.py
Labels: python

#667 test: fix code interpreter env var typo
  typescript/examples/agents/react.ts
Labels: blocked, typescript

#666 fix(agents): respect the stream parameter in the ReActAgent
  python/beeai_framework/agents/react/agent.py
  python/beeai_framework/agents/react/runners/default/runner.py
  python/beeai_framework/agents/react/types.py
Labels: python

#668 docs: move beeai docs into tutorials
  python/README.md
  python/docs/beeai.md
  python/docs/tutorials.md
Labels: python

#670 chore: Update CODEOWNERS
  .github/CODEOWNERS
Labels: python

#664 feat(backend): add support for images
  python/beeai_framework/backend/message.py
  python/beeai_framework/utils/lists.py
  python/docs/backend.md
  python/examples/backend/providers/watsonx.py
  python/poetry.lock
  python/pyproject.toml
  python/tests/backend/test_message.py
Labels: python

#661 feat(adapters): Add support for extra headers to more backend providers
  python/.env.example
  python/beeai_framework/adapters/amazon_bedrock/backend/chat.py
  python/beeai_framework/adapters/anthropic/backend/chat.py
  python/beeai_framework/adapters/azure_openai/backend/chat.py
  python/beeai_framework/adapters/vertexai/backend/chat.py
  python/docs/backend.md
Labels: python

#627 feat: adding cache to ChatModel and Tool
  python/beeai_framework/adapters/litellm/chat.py
  python/beeai_framework/backend/chat.py
  python/beeai_framework/backend/types.py
  python/beeai_framework/cache/base.py
  python/beeai_framework/tools/tool.py
  python/beeai_framework/utils/asynchronous.py
  python/docs/cache.md
  python/examples/cache/llm_cache.py
  python/examples/cache/tool_cache.py
Labels: python

#678 docs(tutorials): Enhance tutorials.md
  python/docs/tutorials.md
  python/examples/tools/mcp_slack_agent.py
  python/tests/examples/test_examples.py
Labels: documentation, python

#643 docs(backend): enhance models documentation in TS
  typescript/docs/backend.md
  typescript/examples/backend/providers/amazon-bedrock.ts
  typescript/examples/backend/providers/anthropic.ts
  typescript/examples/backend/providers/azure-openai.ts
  typescript/examples/backend/providers/groq.ts
  typescript/examples/backend/providers/langchain.ts
  typescript/examples/backend/providers/ollama.ts
  typescript/examples/backend/providers/openai.ts
  typescript/examples/backend/providers/vertexai.ts
  typescript/examples/backend/providers/watsonx.ts
Labels: documentation, typescript

#684 fix(tools): SandboxTool fails when run by an agent
  python/beeai_framework/agents/react/runners/default/runner.py
  python/docs/tools.md
  python/poetry.lock
  python/tests/examples/test_examples.py
Labels: python

#681 refactor(agents): rework agent templates API
  python/beeai_framework/agents/react/agent.py
  python/beeai_framework/agents/react/runners/default/prompts.py
  python/beeai_framework/agents/react/types.py
  python/beeai_framework/agents/tool_calling/agent.py
  python/beeai_framework/agents/tool_calling/types.py
  python/beeai_framework/template.py
  python/beeai_framework/workflows/agent.py
  python/docs/tutorials.md
  python/examples/agents/react_advanced.py
  python/examples/tools/mcp_slack_agent.py
Labels: python

#692 chore(tools): remove branding from code interpreter references
  python/beeai_framework/tools/code/python.py
  typescript/src/tools/custom.test.ts
  typescript/src/tools/python/python.ts
Labels: python, typescript

#690 docs(tools): add PythonTool SandboxTool to tools.md
  python/docs/tools.md
Labels: documentation, python

#691 fallback to structured decoding in environments without proper tool choice support
  python/beeai_framework/adapters/litellm/chat.py
  python/beeai_framework/adapters/ollama/backend/chat.py
  python/beeai_framework/adapters/watsonx/backend/chat.py
  python/beeai_framework/backend/chat.py
  python/beeai_framework/backend/message.py
  python/beeai_framework/backend/types.py
  python/beeai_framework/backend/utils.py
  python/beeai_framework/utils/strings.py
  python/examples/backend/providers/ollama.py
  python/poetry.lock
  python/pyproject.toml
Labels: python

#703 test: run tests in parallel
  python/poetry.lock
  python/pyproject.toml
Labels: python
