Repository i-am-bee/beeai-framework, pull requests merged in 2025-07, with the labels that each got.

#889 feat(adapters): add XAI (Grok) adapter with chat and embedding support
  .github/labeler.yml
  typescript/.env.template
  typescript/docs/_sidebar.md
  typescript/docs/tools.md
  typescript/eslint.config.js
  typescript/examples/agents/granite/README.md
  typescript/examples/backend/providers/xai.ts
  typescript/package.json
  typescript/src/adapters/vercel/backend/utils.ts
  typescript/src/adapters/xai/backend/chat.ts
  typescript/src/adapters/xai/backend/client.ts
  typescript/src/backend/constants.ts
  typescript/tests/examples/examples.test.ts
  typescript/yarn.lock
Labels: documentation, enhancement, typescript

#903 Update CONTRIBUTING.md
  python/CONTRIBUTING.md
Labels: documentation, python

#910 fix(backend): add missing usage data during streaming
  python/beeai_framework/adapters/litellm/chat.py
  python/beeai_framework/backend/types.py
  python/beeai_framework/utils/dicts.py
Labels: python

#907 chore: adding Groq adapter embedding and modifiying associated docs
  docs/modules/backend.mdx
  docs/python/modules/backend.mdx
  python/beeai_framework/adapters/groq/__init__.py
  python/beeai_framework/adapters/groq/backend/embedding.py
Labels: documentation, python

#908 feat: switch to Mise
  .githooks/hook.sh
  .githooks/install.sh
  .github/PULL_REQUEST_TEMPLATE.md
  .github/actions/setup/action.yml
  .github/workflows/common.yml
  .github/workflows/docs.yml
  .github/workflows/py_e2e_tests.yml
  .github/workflows/py_main.yml
  .github/workflows/ts_e2e_tests.yml
  .github/workflows/ts_examples_tests.yml
  .github/workflows/ts_main.yml
  README.md
  docs/.nvmrc
  docs/CONTRIBUTING.md
  docs/README.md
  docs/package.json
  docs/tasks.toml
  mise.lock
  mise.toml
  python/CONTRIBUTING.md
  python/README.md
  python/pyproject.toml
  python/scripts/absolute_links.py
  python/tasks.toml
  typescript/.nvmrc
  typescript/CONTRIBUTING.md
  typescript/package.json
  typescript/tasks.toml
  typescript/tests/examples/examples.test.ts
  typescript/yarn.lock
Labels: documentation, python, typescript

#917 fix(adapters): fix MCP server
  mise.toml
  python/beeai_framework/adapters/mcp/serve/server.py
Labels: python

#918 Fix json shema additional properties
  python/beeai_framework/utils/models.py
  python/tests/utils/test_json_schema.py
Labels: python

#919 docs: Create 15-07-2025.md
  docs/community/community-calls/15-07-2025.md
Labels: documentation

#925 fix: remove mypy path in project config
  python/pyproject.toml
Labels: python

#922 Fixed mcp tool causing error
  python/beeai_framework/tools/mcp/mcp.py
Labels: python

#933 feat(backend): update tool choice support for OpenAI Compatible endpoints
  python/beeai_framework/adapters/litellm/chat.py
  python/beeai_framework/adapters/ollama/backend/chat.py
  python/beeai_framework/adapters/openai/backend/chat.py
  python/beeai_framework/adapters/watsonx/backend/chat.py
  python/beeai_framework/backend/chat.py
Labels: python

#890 feat(backend): Rag agent
  .gitignore
  python/beeai_framework/adapters/beeai/__init__.py
  python/beeai_framework/adapters/beeai/backend/__init__.py
  python/beeai_framework/adapters/beeai/backend/document_processor.py
  python/beeai_framework/adapters/beeai/backend/vector_store.py
  python/beeai_framework/adapters/groq/backend/embedding.py
  python/beeai_framework/adapters/langchain/__init__.py
  python/beeai_framework/adapters/langchain/backend/vector_store.py
  python/beeai_framework/adapters/langchain/mappers/__init__.py
  python/beeai_framework/adapters/langchain/mappers/documents.py
  python/beeai_framework/adapters/langchain/mappers/embedding.py
  python/beeai_framework/adapters/llama_index/__init__.py
  python/beeai_framework/adapters/llama_index/mappers/__init__.py
  python/beeai_framework/adapters/llama_index/mappers/chat.py
  python/beeai_framework/adapters/llama_index/mappers/documents.py
  python/beeai_framework/agents/experimental/__init__.py
  python/beeai_framework/agents/experimental/rag/__init__.py
  python/beeai_framework/agents/experimental/rag/agent.py
  python/beeai_framework/backend/constants.py
  python/beeai_framework/backend/document_processor.py
  python/beeai_framework/backend/types.py
  python/beeai_framework/backend/utils.py
  python/beeai_framework/backend/vector_store.py
  python/beeai_framework/serve/errors.py
  python/beeai_framework/utils/asynchronous.py
  python/examples/agents/rag_agent.py
  python/poetry.lock
  python/pyproject.toml
  python/tests/examples/test_examples.py
Labels: python

#939 feat(adapters): add Gemini (Google Gemini Developer API) backend provider
  docs/modules/backend.mdx
  python/beeai_framework/adapters/gemini/__init__.py
  python/beeai_framework/adapters/gemini/backend/__init__.py
  python/beeai_framework/adapters/gemini/backend/chat.py
  python/beeai_framework/adapters/gemini/backend/embedding.py
  python/beeai_framework/backend/constants.py
  python/examples/backend/providers/gemini.py
  python/poetry.lock
  python/pyproject.toml
  python/tests/examples/test_examples.py
Labels: documentation, python

#955 fix(tools): sanitize names in the MCPTool
  typescript/src/tools/mcp.ts
Labels: typescript

#952 docs: RAG components and agent documentation
  docs/docs.json
  docs/modules/rag.mdx
  python/README.md
  python/examples/agents/rag_agent.py
  python/examples/backend/module_loading.py
  python/tests/examples/test_examples.py
Labels: documentation, python

#957 docs: Update READMEs
  README.md
  python/README.md
Labels: documentation, python

#958 docs: change RAG icon on documentation
  docs/modules/rag.mdx
Labels: documentation

#960 feat(agents): add abort signal to RequirementAgent
  python/beeai_framework/agents/experimental/agent.py
Labels: python

#962 feat(backend): Add document loader
  docs/modules/rag.mdx
  python/beeai_framework/adapters/langchain/backend/document_loader.py
  python/beeai_framework/backend/constants.py
  python/beeai_framework/backend/document_loader.py
  python/beeai_framework/backend/vector_store.py
  python/examples/agents/rag_agent.py
  python/poetry.lock
  python/pyproject.toml
Labels: documentation, python
