Repository i-am-bee/beeai-framework, pull requests merged in 2025-08, with the labels that each got.

#970 chore: update to a new mcp version
  docs/integrations/mcp.mdx
  python/beeai_framework/adapters/mcp/serve/server.py
  python/examples/serve/mcp_tool.py
  python/poetry.lock
Labels: documentation, python

#974 feat(backend): Adding text splitter backend class
  docs/modules/rag.mdx
  python/beeai_framework/adapters/langchain/backend/text_splitter.py
  python/beeai_framework/backend/constants.py
  python/beeai_framework/backend/text_splitter.py
  python/examples/agents/rag_agent.py
Labels: documentation, python

#977 feat(backend): detect non-supported tool choice values
  python/beeai_framework/backend/chat.py
Labels: python

#973 fix(backend): correctly process streaming chunks
  python/beeai_framework/adapters/litellm/chat.py
  python/beeai_framework/agents/experimental/agent.py
  python/beeai_framework/agents/tool_calling/agent.py
  python/beeai_framework/backend/chat.py
  python/beeai_framework/backend/message.py
  python/beeai_framework/backend/types.py
  python/examples/agents/experimental/requirement/demo.py
  python/examples/backend/providers/ollama.py
  python/examples/backend/providers/openai_example.py
  python/poetry.lock
  python/tests/backend/test_chatmodel.py
Labels: python

#979 feat(backend): Support dynamic loading of document processors
  docs/modules/rag.mdx
  python/beeai_framework/adapters/beeai/backend/document_processor.py
  python/beeai_framework/agents/experimental/rag/agent.py
  python/beeai_framework/backend/constants.py
  python/beeai_framework/backend/document_processor.py
  python/examples/agents/rag_agent.py
Labels: documentation, python

#988 fix(agents): exclude hidden tools from the system prompt (RequirementAgent)
  python/beeai_framework/agents/experimental/_utils.py
  python/beeai_framework/backend/chat.py
Labels: python

#990 fix(tools): handle MCP client session cleanup
  python/beeai_framework/tools/mcp/mcp.py
  python/beeai_framework/tools/mcp/utils/session_provider.py
Labels: python

#983 feat(serve): add memory manager
  docs/integrations/a2a.mdx
  docs/integrations/watsonx-orchestrate.mdx
  python/beeai_framework/adapters/a2a/serve/agent_executor.py
  python/beeai_framework/adapters/a2a/serve/server.py
  python/beeai_framework/adapters/acp/serve/server.py
  python/beeai_framework/adapters/mcp/serve/server.py
  python/beeai_framework/adapters/watsonx_orchestrate/serve/api.py
  python/beeai_framework/adapters/watsonx_orchestrate/serve/server.py
  python/beeai_framework/serve/__init__.py
  python/beeai_framework/serve/server.py
  python/beeai_framework/serve/utils.py
  python/examples/serve/a2a_server.py
  python/examples/serve/watsonx_orchestrate.py
Labels: documentation, python

#1001 feat: improve serialization
  python/beeai_framework/tools/tool.py
  python/beeai_framework/utils/strings.py
Labels: python

#1003 docs: Update MAINTAINERS.md
  MAINTAINERS.md
Labels: documentation

#1010 docs: observability enhancements
  docs/modules/observability.mdx
Labels: documentation

#1006 feat(adapters): improve a2a client
  python/beeai_framework/adapters/a2a/agents/_utils.py
  python/beeai_framework/adapters/a2a/agents/agent.py
  python/beeai_framework/adapters/a2a/serve/agent_executor.py
  python/beeai_framework/adapters/beeai_platform/serve/server.py
Labels: python

#1004 feat(serve): switch BeeAIPlatform agent and server to beeai-sdk and a2a
  docs/integrations/a2a.mdx
  docs/integrations/acp.mdx
  docs/integrations/beeai-platform.mdx
  docs/introduction/quickstart.mdx
  python/beeai_framework/adapters/a2a/agents/_utils.py
  python/beeai_framework/adapters/a2a/agents/agent.py
  python/beeai_framework/adapters/a2a/agents/types.py
  python/beeai_framework/adapters/a2a/serve/agent_executor.py
  python/beeai_framework/adapters/beeai_platform/agents/agent.py
  python/beeai_framework/adapters/beeai_platform/agents/types.py
  python/beeai_framework/adapters/beeai_platform/serve/agent.py
  python/beeai_framework/adapters/beeai_platform/serve/server.py
  python/beeai_framework/serve/server.py
  python/eval/_utils.py
  python/eval/agents/requirement/_utils.py
  python/eval/model.py
  python/examples/agents/providers/beeai_platform.py
  python/examples/serve/a2a_server.py
  python/examples/serve/acp_with_custom_agent.py
  python/examples/serve/beeai_platform.py
  python/examples/serve/beeai_platform_await.py
  python/poetry.lock
  python/pyproject.toml
  typescript/examples/agents/providers/beeai_platform.ts
Labels: documentation, python, typescript

#1020 docs: Create community call slides 26-08-2025.md
  docs/community/community-calls/26-08-2025.md
Labels: documentation

#1034 docs: update BeeAI Platform integration
  docs/integrations/beeai-platform.mdx
  python/examples/workflows/remote.py
Labels: documentation, python

#1040 fix(adapters): initialize tool_choice in LiteLLM chat adapter
  python/beeai_framework/adapters/litellm/chat.py
Labels: python

#1042 feat(adapters): update agent's trajectory in BeeAI Platform
  python/beeai_framework/adapters/beeai_platform/serve/server.py
  python/poetry.lock
  python/pyproject.toml
Labels: python

#1047 Docs/quickstart/update
  docs/introduction/quickstart.mdx
Labels: documentation

#1051 feat(tools): improve Handoff tool
  python/beeai_framework/tools/handoff.py
Labels: python

#1043 feat: add retry logic to ChatModel
  python/beeai_framework/adapters/litellm/chat.py
  python/beeai_framework/backend/chat.py
  python/beeai_framework/backend/types.py
  python/beeai_framework/retryable.py
Labels: python
