Repository i-am-bee/beeai-framework, pull requests merged in 2025-09, with the labels that each got.

#1060 Support paralell agent runs
  docs/integrations/acp.mdx
  python/beeai_framework/adapters/a2a/serve/agent_executor.py
  python/beeai_framework/adapters/acp/agents/agent.py
  python/beeai_framework/adapters/acp/serve/server.py
  python/beeai_framework/adapters/beeai_platform/serve/server.py
  python/beeai_framework/adapters/mcp/serve/server.py
  python/beeai_framework/adapters/watsonx_orchestrate/serve/_factories/_react_agent.py
  python/beeai_framework/adapters/watsonx_orchestrate/serve/_factories/_requirement_agent.py
  python/beeai_framework/adapters/watsonx_orchestrate/serve/_factories/_tool_calling_agent.py
  python/examples/agents/providers/acp.py
  python/examples/serve/acp.py
  python/poetry.lock
  python/pyproject.toml
Labels: documentation, python

#1063 feat(serve): async IO support in BeeAI Platform
  python/beeai_framework/adapters/beeai_platform/serve/io.py
  python/beeai_framework/adapters/beeai_platform/serve/server.py
Labels: python

#1065 feat(tools): raise error in MCP tool if result has an error
  python/beeai_framework/tools/mcp/mcp.py
  python/tests/tools/test_mcp_tool.py
Labels: python

#1082 feat: simplify and extend PromptTemplate
  docs/modules/templates.mdx
  python/beeai_framework/agents/experimental/prompts.py
  python/beeai_framework/agents/react/runners/default/prompts.py
  python/beeai_framework/agents/react/runners/granite/prompts.py
  python/beeai_framework/agents/tool_calling/prompts.py
  python/beeai_framework/backend/chat.py
  python/beeai_framework/template.py
  python/examples/templates/arrays.py
  python/examples/templates/basic_template.py
  python/examples/templates/forking.py
  python/examples/templates/functions.py
  python/examples/templates/objects.py
  python/examples/workflows/searx_agent.py
  python/poetry.lock
  python/pyproject.toml
  python/tests/templates/test_templates.py
Labels: documentation, python

#1077 feat(adapters): add support for multiple a2a protocols
  docs/integrations/a2a.mdx
  docs/modules/serve.mdx
  python/beeai_framework/adapters/a2a/agents/_utils.py
  python/beeai_framework/adapters/a2a/agents/agent.py
  python/beeai_framework/adapters/a2a/agents/events.py
  python/beeai_framework/adapters/a2a/agents/types.py
  python/beeai_framework/adapters/a2a/serve/server.py
  python/beeai_framework/adapters/beeai_platform/agents/agent.py
  python/beeai_framework/adapters/beeai_platform/agents/events.py
  python/beeai_framework/adapters/beeai_platform/agents/types.py
  python/beeai_framework/adapters/beeai_platform/serve/server.py
  python/examples/serve/a2a_server.py
  python/poetry.lock
  python/pyproject.toml
Labels: documentation, python

#1090 Updated welcome docs to align with current framework strategy and new…
  docs/introduction/welcome.mdx
Labels: documentation

#1091 feat: support extensions in BeeAIPlatformAgent
  python/beeai_framework/adapters/a2a/agents/agent.py
  python/beeai_framework/adapters/beeai_platform/agents/agent.py
Labels: python

#1098 feat(adapters): support BeeAIPlatform adapter and llm extension
  docs/integrations/beeai-platform.mdx
  python/beeai_framework/adapters/beeai_platform/backend/__init__.py
  python/beeai_framework/adapters/beeai_platform/backend/chat.py
  python/beeai_framework/adapters/beeai_platform/serve/server.py
  python/examples/serve/beeai_platform.py
Labels: documentation, python

#1104 feat(adapter): add LangChain ChatModel integration
  docs/modules/backend.mdx
  python/beeai_framework/adapters/langchain/backend/_utils.py
  python/beeai_framework/adapters/langchain/backend/chat.py
  python/beeai_framework/backend/message.py
  python/examples/backend/providers/__init__.py
  python/examples/backend/providers/langchain_compatible.py
  python/tests/examples/test_examples.py
Labels: documentation, python

#1109 feat(adapters): handle nested initialization of BeeAIPlatformChatModel
  python/beeai_framework/adapters/beeai_platform/backend/chat.py
  python/beeai_framework/adapters/beeai_platform/context.py
  python/beeai_framework/adapters/beeai_platform/serve/server.py
  python/beeai_framework/agents/react/agent.py
Labels: python

#1094 chore(deps): add extra dependencies
  python/poetry.lock
  python/pyproject.toml
Labels: python

#1108 Upgraded notebooks that run on Colab with ollama as backend and Requi…
  python/examples/notebooks/agents_colab.ipynb
  python/examples/notebooks/basics_colab.ipynb
  python/examples/notebooks/requirements.txt
  python/examples/notebooks/workflows_colab.ipynb
Labels: python

#1115 fix(adapters): correctly wrap the inner model in BeeAIPlatformChatModel
  python/beeai_framework/adapters/beeai_platform/backend/chat.py
Labels: python

#1116 docs: Update tour.mdx
  docs/introduction/tour.mdx
Labels: documentation

#1113 feat(adapters): add A2AAgent to TS
  docs/integrations/a2a.mdx
  typescript/examples/agents/providers/a2a.ts
  typescript/package.json
  typescript/src/adapters/a2a/agents/agent.ts
  typescript/src/adapters/a2a/agents/events.ts
  typescript/src/adapters/a2a/agents/types.ts
  typescript/src/adapters/a2a/agents/utils.ts
  typescript/src/backend/message.ts
  typescript/tests/examples/examples.test.ts
  typescript/yarn.lock
Labels: documentation, typescript

#1111 refactor!: convert chatmodel into runnables
  docs/modules/agents.mdx
  docs/modules/backend.mdx
  docs/modules/cache.mdx
  docs/modules/memory.mdx
  python/CHANGELOG.md
  python/beeai_framework/adapters/beeai_platform/backend/chat.py
  python/beeai_framework/adapters/langchain/backend/chat.py
  python/beeai_framework/adapters/litellm/chat.py
  python/beeai_framework/adapters/litellm/utils.py
  python/beeai_framework/adapters/llama_index/mappers/chat.py
  python/beeai_framework/agents/base.py
  python/beeai_framework/agents/experimental/agent.py
  python/beeai_framework/agents/experimental/rag/agent.py
  python/beeai_framework/agents/react/runners/default/runner.py
  python/beeai_framework/agents/tool_calling/agent.py
  python/beeai_framework/backend/__init__.py
  python/beeai_framework/backend/chat.py
  python/beeai_framework/backend/embedding.py
  python/beeai_framework/backend/types.py
  python/beeai_framework/context.py
  python/beeai_framework/memory/summarize_memory.py
  python/beeai_framework/runnable.py
  python/beeai_framework/tools/code/python.py
  python/beeai_framework/utils/models.py
  python/eval/model.py
  python/examples/agents/custom_agent.py
  python/examples/backend/chat.py
  python/examples/backend/chat_stream.py
  python/examples/backend/chat_stream_verbose.py
  python/examples/backend/providers/amazon_bedrock.py
  python/examples/backend/providers/anthropic.py
  python/examples/backend/providers/azure_openai.py
  python/examples/backend/providers/gemini.py
  python/examples/backend/providers/groq.py
  python/examples/backend/providers/langchain_compatible.py
  python/examples/backend/providers/mistralai.py
  python/examples/backend/providers/ollama.py
  python/examples/backend/providers/openai_example.py
  python/examples/backend/providers/vertexai.py
  python/examples/backend/providers/watsonx.py
  python/examples/backend/providers/xai.py
  python/examples/backend/structured.py
  python/examples/backend/tool_calling.py
  python/examples/cache/llm_cache.py
  python/examples/memory/llm_memory.py
  python/examples/notebooks/basics.ipynb
  python/examples/notebooks/basics_colab.ipynb
  python/examples/notebooks/watsonx.ipynb
  python/examples/notebooks/workflows.ipynb
  python/examples/notebooks/workflows_colab.ipynb
  python/examples/observability/simple_observe.py
  python/examples/observability/simple_on.py
  python/examples/requirements.txt
  python/examples/workflows/searx_agent.py
  python/tests/backend/test_chatmodel.py
  python/tests/examples/test_examples.py
  python/tests/test_runnable.py
Labels: documentation, python

#1127 docs: revising the requirement agent page
  docs/experimental/requirement-agent.mdx
  python/examples/agents/experimental/requirement/quickstart_requirement.py
Labels: documentation, python

#1134 docs: revised the tour de framework and fixed code example issues
  docs/introduction/tour.mdx
  docs/modules/agents.mdx
Labels: documentation

#1130 feat(adapters): update A2AServer and events
  docs/integrations/a2a.mdx
  docs/modules/serve.mdx
  python/CHANGELOG.md
  python/beeai_framework/adapters/a2a/agents/agent.py
  python/beeai_framework/adapters/a2a/serve/agent_executor.py
  python/beeai_framework/adapters/a2a/serve/server.py
  python/examples/agents/providers/a2a_agent.py
  python/examples/serve/a2a_server.py
Labels: documentation, python

#1140 docs: backend revision
  docs/modules/backend.mdx
  python/examples/backend/providers/openai_example.py
Labels: documentation, python

#1141 fix: temporary fix uvicorn version
  python/poetry.lock
  python/pyproject.toml
Labels: python

#1139 feat(adapters): add serve factories for Runnables
  mise.toml
  python/beeai_framework/adapters/a2a/serve/__init__.py
  python/beeai_framework/adapters/a2a/serve/agent_executor.py
  python/beeai_framework/adapters/a2a/serve/executors/__init__.py
  python/beeai_framework/adapters/a2a/serve/executors/base_a2a_agent_executor.py
  python/beeai_framework/adapters/a2a/serve/executors/base_a2a_executor.py
  python/beeai_framework/adapters/a2a/serve/executors/react_agent_executor.py
  python/beeai_framework/adapters/a2a/serve/executors/tool_calling_agent_executor.py
  python/beeai_framework/adapters/a2a/serve/server.py
  python/beeai_framework/adapters/beeai_platform/serve/factories.py
  python/beeai_framework/adapters/beeai_platform/serve/server.py
  python/beeai_framework/adapters/mcp/serve/server.py
  python/beeai_framework/adapters/watsonx_orchestrate/serve/_factories/__init__.py
  python/beeai_framework/adapters/watsonx_orchestrate/serve/_factories/_runnable.py
  python/beeai_framework/adapters/watsonx_orchestrate/serve/agent.py
  python/beeai_framework/adapters/watsonx_orchestrate/serve/api.py
  python/beeai_framework/adapters/watsonx_orchestrate/serve/server.py
  python/beeai_framework/serve/server.py
  python/examples/serve/beeai_platform_llm.py
  python/examples/serve/mcp_agent.py
  python/tests/examples/test_examples.py
Labels: python

#1087 feat(adapters): add Transformers ChatModel support
  docs/modules/backend.mdx
  python/.env.example
  python/beeai_framework/adapters/transformers/__init__.py
  python/beeai_framework/adapters/transformers/backend/__init__.py
  python/beeai_framework/adapters/transformers/backend/_utils.py
  python/beeai_framework/adapters/transformers/backend/chat.py
  python/beeai_framework/backend/constants.py
  python/examples/backend/providers/transformers_hf.py
  python/poetry.lock
  python/pyproject.toml
  python/tests/backend/providers/test_transformers.py
  python/tests/examples/test_examples.py
Labels: documentation, python
